<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>基本拉丁文</key>
	<dict>
		<key>from</key>
		<string>U+0021</string>
		<key>to</key>
		<string>U+007f</string>
	</dict>
	<key>拉丁文补充</key>
	<dict>
		<key>from</key>
		<string>U+00a1</string>
		<key>to</key>
		<string>U+00ff</string>
	</dict>
	<key>拉丁文扩展-A</key>
	<dict>
		<key>from</key>
		<string>U+0100</string>
		<key>to</key>
		<string>U+017f</string>
	</dict>
	<key>拉丁文扩展-B</key>
	<dict>
		<key>from</key>
		<string>U+0180</string>
		<key>to</key>
		<string>U+024f</string>
	</dict>
	<key>国际音标扩展</key>
	<dict>
		<key>from</key>
		<string>U+0250</string>
		<key>to</key>
		<string>U+02af</string>
	</dict>
	<key>占位符</key>
	<dict>
		<key>from</key>
		<string>U+02b0</string>
		<key>to</key>
		<string>U+02ff</string>
	</dict>
	<key>希腊字母和科普特字母</key>
	<dict>
		<key>from</key>
		<string>U+0374</string>
		<key>to</key>
		<string>U+03ff</string>
	</dict>
	<key>西尔里字母</key>
	<dict>
		<key>from</key>
		<string>U+0400</string>
		<key>to</key>
		<string>U+04ff</string>
	</dict>
	<key>亚美尼亚字母</key>
	<dict>
		<key>from</key>
		<string>U+0530</string>
		<key>to</key>
		<string>U+058a</string>
	</dict>
	<key>阿拉伯语</key>
	<dict>
		<key>from</key>
		<string>U+0600</string>
		<key>to</key>
		<string>U+06ff</string>
	</dict>
	<key>天城文</key>
	<dict>
		<key>from</key>
		<string>U+0900</string>
		<key>to</key>
		<string>U+097f</string>
	</dict>
	<key>孟加拉文</key>
	<dict>
		<key>from</key>
		<string>U+0980</string>
		<key>to</key>
		<string>U+09ff</string>
	</dict>
	<key>果鲁穆奇字母</key>
	<dict>
		<key>from</key>
		<string>U+0a00</string>
		<key>to</key>
		<string>U+0a74</string>
	</dict>
	<key>古吉拉特语</key>
	<dict>
		<key>from</key>
		<string>U+0a80</string>
		<key>to</key>
		<string>U+0ab9</string>
	</dict>
	<key>奥里雅语</key>
	<dict>
		<key>from</key>
		<string>U+0b00</string>
		<key>to</key>
		<string>U+0b71</string>
	</dict>
	<key>泰米尔语</key>
	<dict>
		<key>from</key>
		<string>U+0b80</string>
		<key>to</key>
		<string>U+0bff</string>
	</dict>
	<key>泰卢固语</key>
	<dict>
		<key>from</key>
		<string>U+0c00</string>
		<key>to</key>
		<string>U+0c7f</string>
	</dict>
	<key>卡纳达文</key>
	<dict>
		<key>from</key>
		<string>U+0c80</string>
		<key>to</key>
		<string>U+0cef</string>
	</dict>
	<key>僧伽罗语</key>
	<dict>
		<key>from</key>
		<string>U+0d80</string>
		<key>to</key>
		<string>U+0ddf</string>
	</dict>
	<key>泰国语</key>
	<dict>
		<key>from</key>
		<string>U+0e00</string>
		<key>to</key>
		<string>U+0e5b</string>
	</dict>
	<key>老挝语</key>
	<dict>
		<key>from</key>
		<string>U+0e80</string>
		<key>to</key>
		<string>U+0edd</string>
	</dict>
	<key>藏语</key>
	<dict>
		<key>from</key>
		<string>U+0f00</string>
		<key>to</key>
		<string>U+0fd8</string>
	</dict>
	<key>格鲁吉亚语 </key>
	<dict>
		<key>from</key>
		<string>U+10a0</string>
		<key>to</key>
		<string>U+10f6</string>
	</dict>
	<key>朝鲜文</key>
	<dict>
		<key>from</key>
		<string>U+1100</string>
		<key>to</key>
		<string>U+1112</string>
	</dict>
	<key>切罗基字母</key>
	<dict>
		<key>from</key>
		<string>U+13a0</string>
		<key>to</key>
		<string>U+13f4</string>
	</dict>
	<key>统一加拿大土着语音节</key>
	<dict>
		<key>from</key>
		<string>U+1400</string>
		<key>to</key>
		<string>U+1676</string>
	</dict>
	<key>拉丁文扩展附加</key>
	<dict>
		<key>from</key>
		<string>U+1e00</string>
		<key>to</key>
		<string>U+1ef9</string>
	</dict>
	<key>希腊语</key>
	<dict>
		<key>from</key>
		<string>U+1f00</string>
		<key>to</key>
		<string>U+1fff</string>
	</dict>
	<key>通用标点</key>
	<dict>
		<key>from</key>
		<string>U+2010</string>
		<key>to</key>
		<string>U+205e</string>
	</dict>
	<key>上标和下标</key>
	<dict>
		<key>from</key>
		<string>U+2070</string>
		<key>to</key>
		<string>U+2094</string>
	</dict>
	<key>货币符号</key>
	<dict>
		<key>from</key>
		<string>U+20a0</string>
		<key>to</key>
		<string>U+20b5</string>
	</dict>
	<key>字母式符号</key>
	<dict>
		<key>from</key>
		<string>U+2100</string>
		<key>to</key>
		<string>U+214f</string>
	</dict>
	<key>数字形式</key>
	<dict>
		<key>from</key>
		<string>U+2153</string>
		<key>to</key>
		<string>U+2184</string>
	</dict>
	<key>箭头</key>
	<dict>
		<key>from</key>
		<string>U+2190</string>
		<key>to</key>
		<string>U+21ea</string>
	</dict>
	<key>数学运算符</key>
	<dict>
		<key>from</key>
		<string>U+2200</string>
		<key>to</key>
		<string>U+22f1</string>
	</dict>
	<key>杂项工业符号</key>
	<dict>
		<key>from</key>
		<string>U+2300</string>
		<key>to</key>
		<string>U+237a</string>
	</dict>
	<key>控制图片</key>
	<dict>
		<key>from</key>
		<string>U+2400</string>
		<key>to</key>
		<string>U+2424</string>
	</dict>
	<key>光学识别符</key>
	<dict>
		<key>from</key>
		<string>U+2440</string>
		<key>to</key>
		<string>U+244a</string>
	</dict>
	<key>封闭式字母数字</key>
	<dict>
		<key>from</key>
		<string>U+2460</string>
		<key>to</key>
		<string>U+24ea</string>
	</dict>
	<key>制表符</key>
	<dict>
		<key>from</key>
		<string>U+2500</string>
		<key>to</key>
		<string>U+257f</string>
	</dict>
	<key>方块元素</key>
	<dict>
		<key>from</key>
		<string>U+2580</string>
		<key>to</key>
		<string>U+2595</string>
	</dict>
	<key>几何图形</key>
	<dict>
		<key>from</key>
		<string>U+25a0</string>
		<key>to</key>
		<string>U+25ff</string>
	</dict>
	<key>杂项符号</key>
	<dict>
		<key>from</key>
		<string>U+2600</string>
		<key>to</key>
		<string>U+26b2</string>
	</dict>
	<key>印刷符号 </key>
	<dict>
		<key>from</key>
		<string>U+2700</string>
		<key>to</key>
		<string>U+27bf</string>
	</dict>
	<key>盲文点字模型</key>
	<dict>
		<key>from</key>
		<string>U+2800</string>
		<key>to</key>
		<string>U+28ff</string>
	</dict>
	<key>拉丁文扩展-C</key>
	<dict>
		<key>from</key>
		<string>U+2c60</string>
		<key>to</key>
		<string>U+2c6c</string>
	</dict>
	<key>追加标点</key>
	<dict>
		<key>from</key>
		<string>U+2e00</string>
		<key>to</key>
		<string>U+2e17</string>
	</dict>
	<key>CJK 部首补充</key>
	<dict>
		<key>from</key>
		<string>U+2e80</string>
		<key>to</key>
		<string>U+2ef3</string>
	</dict>
	<key>康熙字典部首</key>
	<dict>
		<key>from</key>
		<string>U+2f00</string>
		<key>to</key>
		<string>U+2fd5</string>
	</dict>
	<key>表意文字描述符</key>
	<dict>
		<key>from</key>
		<string>U+2ff0</string>
		<key>to</key>
		<string>U+2ffb</string>
	</dict>
	<key>CJK 符号和标点</key>
	<dict>
		<key>from</key>
		<string>U+3000</string>
		<key>to</key>
		<string>U+303f</string>
	</dict>
	<key>日文平假名</key>
	<dict>
		<key>from</key>
		<string>U+3040</string>
		<key>to</key>
		<string>U+309f</string>
	</dict>
	<key>日文片假名</key>
	<dict>
		<key>from</key>
		<string>U+30a0</string>
		<key>to</key>
		<string>U+30ff</string>
	</dict>
	<key>注音字母</key>
	<dict>
		<key>from</key>
		<string>U+3105</string>
		<key>to</key>
		<string>U+3129</string>
	</dict>
	<key>朝鲜文兼容字母</key>
	<dict>
		<key>from</key>
		<string>U+3130</string>
		<key>to</key>
		<string>U+318f</string>
	</dict>
	<key>象形字注释标志</key>
	<dict>
		<key>from</key>
		<string>U+3190</string>
		<key>to</key>
		<string>U+319f</string>
	</dict>
	<key>日文片假名语音扩展</key>
	<dict>
		<key>from</key>
		<string>U+31f0</string>
		<key>to</key>
		<string>U+31ff</string>
	</dict>
	<key>封闭式 CJK 文字和月份</key>
	<dict>
		<key>from</key>
		<string>U+3220</string>
		<key>to</key>
		<string>U+32ff</string>
	</dict>
	<key>CJK 兼容</key>
	<dict>
		<key>from</key>
		<string>U+3300</string>
		<key>to</key>
		<string>U+33da</string>
	</dict>
	<key>CJK 统一表意符号扩展 A</key>
	<dict>
		<key>from</key>
		<string>U+3400</string>
		<key>to</key>
		<string>U+4dbf</string>
	</dict>
	<key>CJK 统一表意符号 </key>
	<dict>
		<key>from</key>
		<string>U+4e00</string>
		<key>to</key>
		<string>U+9fff</string>
	</dict>
	<key>彝文音节</key>
	<dict>
		<key>from</key>
		<string>U+a000</string>
		<key>to</key>
		<string>U+a48f</string>
	</dict>
	<key>彝文字根</key>
	<dict>
		<key>from</key>
		<string>U+a490</string>
		<key>to</key>
		<string>U+a4c4</string>
	</dict>
	<key>声调修饰字母</key>
	<dict>
		<key>from</key>
		<string>U+a700</string>
		<key>to</key>
		<string>U+a71a</string>
	</dict>
	<key>朝鲜文音节</key>
	<dict>
		<key>from</key>
		<string>U+ac00</string>
		<key>to</key>
		<string>U+d7af</string>
	</dict>
	<key>CJK 兼容象形文字</key>
	<dict>
		<key>from</key>
		<string>U+f900</string>
		<key>to</key>
		<string>U+fa6a</string>
	</dict>
	<key>字母表达形式</key>
	<dict>
		<key>from</key>
		<string>U+fb00</string>
		<key>to</key>
		<string>U+fb04</string>
	</dict>
	<key>阿拉伯表达形式A </key>
	<dict>
		<key>from</key>
		<string>U+fb50</string>
		<key>to</key>
		<string>U+fdc7</string>
	</dict>
	<key>CJK 兼容形式</key>
	<dict>
		<key>from</key>
		<string>U+fe30</string>
		<key>to</key>
		<string>U+fe4f</string>
	</dict>
	<key>小型变体形式</key>
	<dict>
		<key>from</key>
		<string>U+fe50</string>
		<key>to</key>
		<string>U+fe6b</string>
	</dict>
	<key>阿拉伯表达形式B </key>
	<dict>
		<key>from</key>
		<string>U+fe70</string>
		<key>to</key>
		<string>U+fefc</string>
	</dict>
	<key>半角及全角形式</key>
	<dict>
		<key>from</key>
		<string>U+ff00</string>
		<key>to</key>
		<string>U+ff9f</string>
	</dict>
</dict>
</plist>
