<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Basic Latin</key>
	<dict>
		<key>from</key>
		<string>U+0000</string>
		<key>to</key>
		<string>U+007f</string>
	</dict>
	<key>Latin-1 Supplement</key>
	<dict>
		<key>from</key>
		<string>U+0080</string>
		<key>to</key>
		<string>U+00ff</string>
	</dict>
	<key>Latin Extebded-A</key>
	<dict>
		<key>from</key>
		<string>U+0100</string>
		<key>to</key>
		<string>U+017f</string>
	</dict>
	<key>Latin Extebded-B</key>
	<dict>
		<key>from</key>
		<string>U+0180</string>
		<key>to</key>
		<string>U+024f</string>
	</dict>
	<key>IPA Extended-B</key>
	<dict>
		<key>from</key>
		<string>U+0250</string>
		<key>to</key>
		<string>U+02af</string>
	</dict>
	<key>Spacing Modifier Letters</key>
	<dict>
		<key>from</key>
		<string>U+02b0</string>
		<key>to</key>
		<string>U+02ff</string>
	</dict>
	<key>Combining Diacritical Marks</key>
	<dict>
		<key>from</key>
		<string>U+0300</string>
		<key>to</key>
		<string>U+036f</string>
	</dict>
	<key>Greek and Coptic</key>
	<dict>
		<key>from</key>
		<string>U+0370</string>
		<key>to</key>
		<string>U+03ff</string>
	</dict>
	<key>Cyrillic </key>
	<dict>
		<key>from</key>
		<string>U+0400</string>
		<key>to</key>
		<string>U+04ff</string>
	</dict>
	<key>Cyrillic Supplement</key>
	<dict>
		<key>from</key>
		<string>U+0500</string>
		<key>to</key>
		<string>U+052f</string>
	</dict>
	<key>Armenian</key>
	<dict>
		<key>from</key>
		<string>U+0530</string>
		<key>to</key>
		<string>U+058f</string>
	</dict>
	<key>Hebrew</key>
	<dict>
		<key>from</key>
		<string>U+0590</string>
		<key>to</key>
		<string>U+05ff</string>
	</dict>
	<key>Arabic</key>
	<dict>
		<key>from</key>
		<string>U+0600</string>
		<key>to</key>
		<string>U+06ff</string>
	</dict>
	<key>Devanagari</key>
	<dict>
		<key>from</key>
		<string>U+0900</string>
		<key>to</key>
		<string>U+097f</string>
	</dict>
	<key>Bengali</key>
	<dict>
		<key>from</key>
		<string>U+0980</string>
		<key>to</key>
		<string>U+09ff</string>
	</dict>
	<key>Gurmukhi</key>
	<dict>
		<key>from</key>
		<string>U+0a00</string>
		<key>to</key>
		<string>U+0a7f</string>
	</dict>
	<key>Gujarati</key>
	<dict>
		<key>from</key>
		<string>U+0a80</string>
		<key>to</key>
		<string>U+0aff</string>
	</dict>
	<key>Oriya</key>
	<dict>
		<key>from</key>
		<string>U+0b00</string>
		<key>to</key>
		<string>U+0b7f</string>
	</dict>
	<key>Tamil</key>
	<dict>
		<key>from</key>
		<string>U+0b80</string>
		<key>to</key>
		<string>U+0bff</string>
	</dict>
	<key>Telugu</key>
	<dict>
		<key>from</key>
		<string>U+0c00</string>
		<key>to</key>
		<string>U+0c7f</string>
	</dict>
	<key>Kannada</key>
	<dict>
		<key>from</key>
		<string>U+0c80</string>
		<key>to</key>
		<string>U+0cff</string>
	</dict>
	<key>Malayalam</key>
	<dict>
		<key>from</key>
		<string>U+0ddd</string>
		<key>to</key>
		<string>U+0d7f</string>
	</dict>
	<key>Sinhala</key>
	<dict>
		<key>from</key>
		<string>U+0d80</string>
		<key>to</key>
		<string>U+0dff</string>
	</dict>
	<key>Thai</key>
	<dict>
		<key>from</key>
		<string>U+0e00</string>
		<key>to</key>
		<string>U+0e7f</string>
	</dict>
	<key>Lao</key>
	<dict>
		<key>from</key>
		<string>U+0e80</string>
		<key>to</key>
		<string>U+0eff</string>
	</dict>
	<key>Tibetan</key>
	<dict>
		<key>from</key>
		<string>U+0f00</string>
		<key>to</key>
		<string>U+0fff</string>
	</dict>
	<key>Georgian</key>
	<dict>
		<key>from</key>
		<string>U+10a0</string>
		<key>to</key>
		<string>U+10ff</string>
	</dict>
	<key>Hangul Jamo</key>
	<dict>
		<key>from</key>
		<string>U+1100</string>
		<key>to</key>
		<string>U+11ff</string>
	</dict>
	<key>Cherokee</key>
	<dict>
		<key>from</key>
		<string>U+13a0</string>
		<key>to</key>
		<string>U+13ff</string>
	</dict>
	<key>Unified Canadian Aboriginal Syllabics</key>
	<dict>
		<key>from</key>
		<string>U+1400</string>
		<key>to</key>
		<string>U+167f</string>
	</dict>
	<key>Phonetic Extensions</key>
	<dict>
		<key>from</key>
		<string>U+1d00</string>
		<key>to</key>
		<string>U+1d7f</string>
	</dict>
	<key>Phonetic Extensions Supplement</key>
	<dict>
		<key>from</key>
		<string>U+1d80</string>
		<key>to</key>
		<string>U+1dbf</string>
	</dict>
	<key>Combining Diacritical Marks Supplement</key>
	<dict>
		<key>from</key>
		<string>U+1dc0</string>
		<key>to</key>
		<string>U+1dff</string>
	</dict>
	<key>Latin Extended Additional</key>
	<dict>
		<key>from</key>
		<string>U+1e00</string>
		<key>to</key>
		<string>U+1eff</string>
	</dict>
	<key>Greek Extended</key>
	<dict>
		<key>from</key>
		<string>U+1f00</string>
		<key>to</key>
		<string>U+1fff</string>
	</dict>
	<key>General Punctuation</key>
	<dict>
		<key>from</key>
		<string>U+2000</string>
		<key>to</key>
		<string>U+206f</string>
	</dict>
	<key>Superscripts and Subscripts</key>
	<dict>
		<key>from</key>
		<string>U+2070</string>
		<key>to</key>
		<string>U+209f</string>
	</dict>
	<key>Currency Symbols</key>
	<dict>
		<key>from</key>
		<string>U+20a0</string>
		<key>to</key>
		<string>U+20cf</string>
	</dict>
	<key>Combining Diacritical Marks for Symbols</key>
	<dict>
		<key>from</key>
		<string>U+20d0</string>
		<key>to</key>
		<string>U+20ff</string>
	</dict>
	<key>Letterlike Symbols</key>
	<dict>
		<key>from</key>
		<string>U+2100</string>
		<key>to</key>
		<string>U+214f</string>
	</dict>
	<key>Number Forms</key>
	<dict>
		<key>from</key>
		<string>U+2150</string>
		<key>to</key>
		<string>U+218f</string>
	</dict>
	<key>Arrows</key>
	<dict>
		<key>from</key>
		<string>U+2190</string>
		<key>to</key>
		<string>U+21ff</string>
	</dict>
	<key>Mathematical Operators</key>
	<dict>
		<key>from</key>
		<string>U+2200</string>
		<key>to</key>
		<string>U+22ff</string>
	</dict>
	<key>Miscellaneous Thchnical</key>
	<dict>
		<key>from</key>
		<string>U+2300</string>
		<key>to</key>
		<string>U+23ff</string>
	</dict>
	<key>Control Pictures</key>
	<dict>
		<key>from</key>
		<string>U+2400</string>
		<key>to</key>
		<string>U+243f</string>
	</dict>
	<key>Optical Character Recognition</key>
	<dict>
		<key>from</key>
		<string>U+2440</string>
		<key>to</key>
		<string>U+245f</string>
	</dict>
	<key>Enclosed Alphanumerics</key>
	<dict>
		<key>from</key>
		<string>U+2460</string>
		<key>to</key>
		<string>U+24ff</string>
	</dict>
	<key>Box Drawing</key>
	<dict>
		<key>from</key>
		<string>U+2500</string>
		<key>to</key>
		<string>U+257f</string>
	</dict>
	<key>Block Elements</key>
	<dict>
		<key>from</key>
		<string>U+2580</string>
		<key>to</key>
		<string>U+259f</string>
	</dict>
	<key>Geometric Shapes</key>
	<dict>
		<key>from</key>
		<string>U+25a0</string>
		<key>to</key>
		<string>U+25ff</string>
	</dict>
	<key>Miscellaneous Symbols</key>
	<dict>
		<key>from</key>
		<string>U+2600</string>
		<key>to</key>
		<string>U+26ff</string>
	</dict>
	<key>Dingbats</key>
	<dict>
		<key>from</key>
		<string>U+2700</string>
		<key>to</key>
		<string>U+27ff</string>
	</dict>
	<key>Braille Patterns</key>
	<dict>
		<key>from</key>
		<string>U+2800</string>
		<key>to</key>
		<string>U+28ff</string>
	</dict>
	<key>Supplemental Arrow-B</key>
	<dict>
		<key>from</key>
		<string>U+2900</string>
		<key>to</key>
		<string>U+297f</string>
	</dict>
	<key>Miscellaneous Symbols and Arrows</key>
	<dict>
		<key>from</key>
		<string>U+2b00</string>
		<key>to</key>
		<string>U+2bff</string>
	</dict>
	<key>Latin Extended-C</key>
	<dict>
		<key>from</key>
		<string>U+2c60</string>
		<key>to</key>
		<string>U+2c7f</string>
	</dict>
	<key>Supplemental Punctuation</key>
	<dict>
		<key>from</key>
		<string>U+2e00</string>
		<key>to</key>
		<string>U+2e7f</string>
	</dict>
	<key>CJK Radicals Supplement</key>
	<dict>
		<key>from</key>
		<string>U+2e80</string>
		<key>to</key>
		<string>U+2eff</string>
	</dict>
	<key>Kangxi Radicals</key>
	<dict>
		<key>from</key>
		<string>U+2f00</string>
		<key>to</key>
		<string>U+2fdf</string>
	</dict>
	<key>Ideographic Description Characters</key>
	<dict>
		<key>from</key>
		<string>U+2ff0</string>
		<key>to</key>
		<string>U+2fff</string>
	</dict>
	<key>CJK Symbols and Punctuation</key>
	<dict>
		<key>from</key>
		<string>U+3000</string>
		<key>to</key>
		<string>U+303f</string>
	</dict>
	<key>Hiragana</key>
	<dict>
		<key>from</key>
		<string>U+3040</string>
		<key>to</key>
		<string>U+309f</string>
	</dict>
	<key>Katakana</key>
	<dict>
		<key>from</key>
		<string>U+30a0</string>
		<key>to</key>
		<string>U+30ff</string>
	</dict>
	<key>Bopomofo</key>
	<dict>
		<key>from</key>
		<string>U+3100</string>
		<key>to</key>
		<string>U+312f</string>
	</dict>
	<key>Hangul Compatibility Jamo</key>
	<dict>
		<key>from</key>
		<string>U+3130</string>
		<key>to</key>
		<string>U+318f</string>
	</dict>
	<key>Kanbun</key>
	<dict>
		<key>from</key>
		<string>U+3190</string>
		<key>to</key>
		<string>U+319f</string>
	</dict>
	<key>CJK Strokes</key>
	<dict>
		<key>from</key>
		<string>U+31c0</string>
		<key>to</key>
		<string>U+31ef</string>
	</dict>
	<key>Katakana Phonetic Extensions</key>
	<dict>
		<key>from</key>
		<string>U+31f0</string>
		<key>to</key>
		<string>U+31ff</string>
	</dict>
	<key>Enclosed CJK Letters and Months</key>
	<dict>
		<key>from</key>
		<string>U+3200</string>
		<key>to</key>
		<string>U+32ff</string>
	</dict>
	<key>CJK Compatibility</key>
	<dict>
		<key>from</key>
		<string>U+3300</string>
		<key>to</key>
		<string>U+33ff</string>
	</dict>
	<key>CJK Unified Ideographs Extension A</key>
	<dict>
		<key>from</key>
		<string>U+3400</string>
		<key>to</key>
		<string>U+4dbf</string>
	</dict>
	<key>Yijing Hexagram Symbols</key>
	<dict>
		<key>from</key>
		<string>U+4dc0</string>
		<key>to</key>
		<string>U+4dff</string>
	</dict>
	<key>CJK Unified Ideographs</key>
	<dict>
		<key>from</key>
		<string>U+4e00</string>
		<key>to</key>
		<string>U+9fff</string>
	</dict>
	<key>Yi Syllables</key>
	<dict>
		<key>from</key>
		<string>U+a000</string>
		<key>to</key>
		<string>U+a48f</string>
	</dict>
	<key>Yi Radicals</key>
	<dict>
		<key>from</key>
		<string>U+a490</string>
		<key>to</key>
		<string>U+a4cf</string>
	</dict>
	<key>Modifier Tone Letters</key>
	<dict>
		<key>from</key>
		<string>U+a700</string>
		<key>to</key>
		<string>U+a71f</string>
	</dict>
	<key>Latin Extended-D</key>
	<dict>
		<key>from</key>
		<string>U+a720</string>
		<key>to</key>
		<string>U+a7ff</string>
	</dict>
	<key>Hangul Syllables</key>
	<dict>
		<key>from</key>
		<string>U+ac00</string>
		<key>to</key>
		<string>U+d7af</string>
	</dict>
	<key>Private Use Area</key>
	<dict>
		<key>from</key>
		<string>U+e000</string>
		<key>to</key>
		<string>U+f8ff</string>
	</dict>
	<key>CJK Compatibility ldegraphs</key>
	<dict>
		<key>from</key>
		<string>U+f900</string>
		<key>to</key>
		<string>U+faff</string>
	</dict>
	<key>Alphabetic Presentation Forms</key>
	<dict>
		<key>from</key>
		<string>U+fb00</string>
		<key>to</key>
		<string>U+fb4f</string>
	</dict>
	<key>Alphabetic Presentation Forms-A</key>
	<dict>
		<key>from</key>
		<string>U+fb50</string>
		<key>to</key>
		<string>U+fdff</string>
	</dict>
	<key>Combining Half Marks</key>
	<dict>
		<key>from</key>
		<string>U+fe20</string>
		<key>to</key>
		<string>U+fe2f</string>
	</dict>
	<key>CJK Compatibility Forms</key>
	<dict>
		<key>from</key>
		<string>U+fe30</string>
		<key>to</key>
		<string>U+fe4f</string>
	</dict>
	<key>Small Form Variants</key>
	<dict>
		<key>from</key>
		<string>U+fe50</string>
		<key>to</key>
		<string>U+fe6f</string>
	</dict>
	<key>Arabic Presentation Forms-B</key>
	<dict>
		<key>from</key>
		<string>U+fe70</string>
		<key>to</key>
		<string>U+feff</string>
	</dict>
	<key>Halfwidth and Fullwidth Forms</key>
	<dict>
		<key>from</key>
		<string>U+ff00</string>
		<key>to</key>
		<string>U+ffef</string>
	</dict>
</dict>
</plist>
